name: build

on:
  pull_request:
  push:
    branches-ignore:
      - gh-readonly-queue/**

  workflow_dispatch:
    inputs:
      dryRun:
        description: 'Dry-Run'
        default: 'true'
        required: false
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: ${{ github.ref_name != 'main' && !startsWith(github.ref_name, 'maint/') && github.event_name != 'push' }}

env:
  HUSKY: 0
  DRY_RUN: ${{ github.ref_name != github.event.repository.default_branch && !startsWith(github.ref_name, 'maint/') }}

permissions:
  contents: read

jobs:
  setup:
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node
        with:
          save-cache: true

  lint:
    runs-on: ubuntu-24.04
    needs: setup
    timeout-minutes: 15
    permissions:
      contents: read
      checks: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: lint
        run: |
          # pnpm eslint -f gha
          pnpm prettier
          # pnpm lint:types

      - name: shellcheck
        if: ${{ github.event_name != 'merge_group' }}
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        with:
          fail_level: any
          reporter: github-pr-annotations
          filter_mode: nofilter
          path: |
            .husky
          pattern: |
            *.sh
            *.bats
          check_all_files_with_shebangs: 'true'

  build:
    runs-on: ubuntu-24.04
    needs: setup
    timeout-minutes: 15

    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: 游닌 Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      # https://github.com/dotnet/sdk/issues/39635
      - name: Remove pre-existing dotnet installs
        run: sudo apt remove --purge '^dotnet-.*' '^aspnetcore-.*'
      - name: 游닌 Setup Dotnet
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
        with:
          global-json-file: global.json
          cache: true
          cache-dependency-path: '**/packages.lock.json'

      - name: Restore dotnet packages
        run: |
          dotnet workload restore
          dotnet restore --locked-mode

      - name: build
        run: pnpm build

      - name: upload dist
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dist
          path: |
            dist/

  test:
    runs-on: ubuntu-24.04
    needs:
      - setup
      - build
    timeout-minutes: 15
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: fetch dist
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: dist

      - name: vitest
        run: pnpm test

      - name: Codecov Coverage Results Upload
        if: github.event_name != 'merge_group'
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          use_oidc: true

      - name: Codecov Test Results Upload
        if: github.event_name != 'merge_group'
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1.1.1
        with:
          use_oidc: true

  release:
    needs:
      - lint
      - build
      - test
    runs-on: ubuntu-latest

    # tests shouldn't need more time
    timeout-minutes: 15

    permissions:
      contents: write
      id-token: write
      issues: write

    steps:
      # full checkout for semantic-release
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          show-progress: false
          filter: blob:none # we don't need all blobs

      - name: 丘뙖잺 Setup
        uses: containerbase/internal-tools/setup@dc7f7b0abfefcd882d2f3a16d5b22a8cb73e3d95 # v3.14.11
        with:
          checkout: false

      - name: fetch dist
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: dist

      - name: semantic-release
        run: |
          pnpm semantic-release --dry-run ${{env.DRY_RUN}} --ci ${{env.DRY_RUN != 'true'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # Catch-all required check for test matrix
  success:
    needs:
      - lint
      - build
      - test
      - release
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or skipped lint job
        if: |
          needs.lint.result == 'failure' ||
          needs.lint.result == 'skipped'
        run: exit 1

      - name: Fail for failed or skipped build job
        if: |
          needs.build.result == 'failure' ||
          needs.build.result == 'skipped'
        run: exit 1

      - name: Fail for failed or skipped test job
        if: |
          needs.test.result == 'failure' ||
          needs.test.result == 'skipped'
        run: exit 1

      - name: Fail for failed or skipped release job
        if: |
          needs.release.result == 'failure' ||
          needs.release.result == 'skipped'
        run: exit 1
